You're receiving this email because a password reset was requested for your account.

If you did not request this, you can ignore this email.

To reset your password using the API, use the following values in a POST to `/api/auth/password/reset/confirm/`:

UID: {{ uid }}
Token: {{ token }}

Example (API):
POST {{ protocol }}://{{ domain }}/api/auth/password/reset/confirm/

{
  "uid": "{{ uid }}",
  "token": "{{ token }}",
  "new_password1": "<your-new-password>",
  "new_password2": "<your-new-password>"
}

Alternatively, open the following link in a browser if you have a frontend that handles the reset:

{{ protocol }}://{{ domain }}/password-reset-confirm/?uid={{ uid }}&token={{ token }}

This link will expire after a short time for security reasons.
